html, body {
 margin: 0;
 padding: 0;
 height: 100%;
 width: 100%;
 background: transparent;
}

.marco {
 background-color: rgb(0, 0, 0);
 height: 100%;
 width: 100%;
 position: fixed;
 align-items: center;
}

.game {
 width: 90%;
 height: 90%;
 position: fixed;
 margin-top: 3%;
 margin-left: 3%;
}

.cajabotones {
 position: fixed;
 height: 60%;
 width: 10vh;
 background-color: rgba(63, 63, 63, 0.616);
 top: 7%;
 left: 95%;
 justify-content: center;
}

.b1 {
 width: 8vh;
 height: 8vh;
 margin: 1vh;
 left: 2%;
 background-color: rgb(165, 165, 165);
 border-radius: 5%;
 border: 2px solid black;
 box-shadow: 2px 2px 5px azure;
 font-size: 4vh;
 text-align: center;
 line-height: 8vh;
 cursor: pointer;
}

.b2{
 width: 8vh;
 height: 8vh;
 margin: 1vh;
 left: 2%;
 background-color: rgb(165, 165, 165);
 border-radius: 5%;
 border: 2px solid black;
 box-shadow: 2px 2px 5px azure;
 font-size: 4vh;
 text-align: center;
 align-items: center;
 align-self: center;
 line-height: 8vh;
 cursor: pointer;
}

.b3{
 width: 8vh;
 height: 8vh;
 margin: 1vh;
 left: 2%;
 background-color: rgb(165, 165, 165);
 border-radius: 5%;
 border: 2px solid black;
 box-shadow: 2px 2px 5px azure;
 font-size: 4vh;
 text-align: center;
 line-height: 8vh;
 cursor: pointer;
 color: white;
 align-content: center;
 padding-top: 0; /* Ajusta el texto verticalmente */
}

.b4{
 width: 8vh;
 height: 8vh;
 margin: 1vh;
 left: 2%;
 background-color: rgb(165, 165, 165);
 border-radius: 5%;
 border: 2px solid black;
 box-shadow: 2px 2px 5px azure;
 font-size: 4vh;
 text-align: center;
 line-height: 8vh;
 cursor: pointer;
 align-items: center;
}

.b5{
 width: 8vh;
 height: 8vh;
 margin: 1vh;
 left: 2%;
 background-color: rgb(165, 165, 165);
 border-radius: 5%;
 border: 2px solid black;
 box-shadow: 2px 2px 5px azure;
 font-size: 4vh;
 text-align: center;
 line-height: 8vh;
 cursor: pointer;
 align-items: center;
}

.b6{
 width: 8vh;
 height: 8vh;
 margin: 1vh;
 left: 2%;
 background-color: rgb(165, 165, 165);
 border-radius: 5%;
 border: 2px solid black;
 box-shadow: 2px 2px 5px azure;
 font-size: 4vh;
 text-align: center;
 line-height: 8vh;
 cursor: pointer;
 align-items: center;
}

.fps {
 font-size: 30px;
 color: rgb(1, 167, 1);
 z-index: 10000;
 left: 2%;
 top: 2%;
 height: 50px;
 width: 100px;
 position: fixed;
 font-family: 'Press Start 2P', monospace;
}


