html, body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: aliceblue;
    zoom: 175%;
}

.titulo {
    font-size: x-large;
    position: fixed;
    z-index: 2;
}

.caja {
    top: 20%;
    position: fixed;
    align-items: center;
    align-self: center;
    background-color: rgb(191, 255, 255);
    text-align: center;
    height: 100px;
    width: 400px;
}